.container-contacto {

    h2,
    p {
        background-color: $estiloFondo;
    }

    .contenedorDirContacto {
        background-color: aqua;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        @media (max-width:425px) {
            height: 30rem;
            margin-bottom: 4rem;
            text-align: center;
        }

        background-color: $estiloFondo;
    }

    .estiloFormContactos {
        border: 6px solid rgba(0, 0, 0, 0.11);
        background-color: $estiloFondo;

        .cuerpoForm {
            div {
                margin-bottom: 2rem;
            }

        }

        .contenedorTituloFormContacto {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            text-align: center;

            @media (max-width:425px) {
                height: 9rem;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                text-align: center;
                margin-bottom: 1rem;
            }
        }
    }

    .ubicacion{
        margin-bottom: 2rem;
        iframe{
            border: 6px solid rgba(0, 0, 0, 0.11);
        }
    }

}