@mixin tamLetra ($tam) {
    font-size: $tam;
}

.contenedorConoceArtista {
    .container {
        .row {
            margin-top: 10rem;
            margin-bottom: 10rem;

            .col {
                width: 90%;
                max-width: 425px;
                margin: auto;

                @media (min-width:768px) {
                    max-width: 768px;
                }

                img {
                    width: 30%;
                    height: auto;
                    margin-top: 2rem;
                    margin-bottom: 2rem;
                }

                h1 {
                    width: 100%;
                    height: auto;
                }

                p {
                    line-height: 2.1;

                    strong {
                        font-size: 17px;
                    }

                    background-color: $estiloFondo;
                }
            }
        }
    }
}

.sectionImgArtistaLocal {
    display: grid;
    width: 80%;
    margin: 2rem auto;
    gap: 2rem;
    margin-bottom: 10rem;

    .col:nth-child(5) {
        .contenedor-galeria {
            padding: 6em 0;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: rgba(0, 0, 0, 0.15);

            h4 {
                font-family: vtks;
                font-size: 2rem;
                text-shadow: rgba(2, 2, 2, 0.15) 0.1em 0.1em 0.2em;
            }

            .boton-Trabajos {
                background-color: $fondoHeaderFooter;
                color: #fff;
                text-decoration: none;
                padding: 0.6em 1em;
                border-radius: 5px;

                &:hover {
                    filter: brightness(110%);
                }
            }
        }
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }


    @media (min-width:768px) {
        grid-template-columns: 50% auto;
        gap: 0;

        .col:nth-child(1) {
            grid-column-start: span 2;
        }

        .col:nth-child(5) {
            .contenedor-galeria {
                padding: 0;

                h6 {
                    font-size: 13px;
                }
            }
        }
    }

    @media (min-width:1024px) {
        grid-template-columns: 30% 23.3% 23.3% 23.3%;
        gap: 0;

        .col:nth-child(1) {
            grid-row-start: span 2;
        }

        .col:nth-child(5) {
            .contenedor-galeria {
                padding: 0;
            }

        }
    }


    .col {
        position: relative;

        .titulo-img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.4);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: #fff;
            transform: scale(0);
            transition: .3s ease;
            font-family: vtks;

            h2,
            h5 {
                font-size: 14px;
            }

            @media (min-width:768px) {

                h2,
                h5 {
                    font-size: 20px;
                }
            }
        }

        &:hover .titulo-img {
            transform: scale(1);
        }

    }
}



.seccionLugarEstudio {
    background-image: url(../images/fondoestudio.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;

    .seccionLugarEstudioTitulo {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100vh;
        background-color: rgba(90, 90, 90, 0.5);
        text-align: center;

        h2 {
            @extend .estiloTitulos;
            text-shadow: rgba(20, 20, 20, 0.9) 0.1em 0.1em 0.2em;

            @include tamLetra(4rem);

            @media (max-width:425px) {

                @include tamLetra(2rem);
            }
        }

        h3 {
            font-size: 50px;
            text-shadow: rgba(60, 60, 60, 0.9) 0.1em 0.1em 0.1em;

            @media (max-width:425px) {

                @include tamLetra(30px);
            }
        }

        &:hover {
            opacity: 1;
            visibility: visible;
        }
    }
}

.estiloTitulos {
    background: -webkit-linear-gradient(#eee, rgb(255, 247, 247));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}