footer {
    margin-top: auto;
    z-index: 20;

    background-color: $fondoHeaderFooter;

    img {
        transition-duration: .9s;

        &:hover {
            transform: scale(1.2);
        }
    }

    h6 {
        font-size: $tamañoLetra;

        @media (max-width:425px) {
            font-size: x-small;
        }
    }


}

.whatsapp {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 20px;
    right: 15px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    z-index: 100;
}

.whatsapp-icon {
    margin-top: 13px;
}