<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../estilos/estilo.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
    <title>Artista</title>
</head>

<body>
    <header>
        <div class="logo">
            <h1>TATTOOING POSADAS</h1>
            <a href="../index.html">
                <img src="../images/logo.png" alt="">
            </a>
        </div>
        <nav class="navBar">

            <ul>
                <li>
                    <a href="../index.html">INICIO</a>
                </li>
                <li>
                    <a href="./trabajos.html">TRABAJOS</a>
                </li>
                <li>
                    <a href="./diseños.html">DISEÑOS</a>
                </li>
                <li>
                    <a href="./Artista.html">SOBRE EL ARTISTA</a>
                </li>
                <li>
                    <a href="./contactos.html">CONTACTOS</a>
                </li>
            </ul>
        </nav>
    </header>
    <main class="contenedorEstilosEstudiados">
        <h2 class="TituloEstilosEstudiados">ESTILOS EN PRACTICA Y OBJETO DE ESTUDIO DEL ARTISTA</h2>


        <section class="sectionOldSchool">

            <div class="ParrafoOldSchool">
                <h2><strong>OLD SCHOOL</strong></h2>
                <p>Esta pintura hice en base al estudio de unos de mis libros del estilo tradicional</p>
            </div>
            <div class="imgOldSchool">
                <img src="../images/tatuaje tradicional.jpg" alt="">
                <img src="../images/old school.jpg" alt="foto estilo de tattoo lettering">
            </div>

        </section>


        <section class="sectionPinturaLibro">
            <div class="parragoPinturaLibro">
                <h2><strong>PINTURA DE LIBRO</strong></h2>
                <p>Es otra pintura de estudio de unos de mis libros.</p>
            </div>

            <div class="imgPinturaLibro">
                <img src="../images/pintura de libro.jpg" alt="foto estilo de tattoo flashes">
            </div>
        </section>


        <section class="sectionLettering">
            <div class="parragoLettering">
                <h2><strong>LETTERING</strong></h2>
                <p>Otro estilo que llevo estudiando, se trata del tipo de letra script informal y el custom gótico.</p>
            </div>

            <div class="imgLettering">
                <img src="../images/lettering.jpg" alt="foto estilo de tattoo old school">
            </div>
        </section>


        <section class="sectionFlashes">
            <div class="parragoFlashes">
                <h2><strong>FLASHES</strong></h2>
                <p>Estos diseños se le llaman flashes, están pensados para hacer tatuajes rápidos sin cita previa.</p>
            </div>
            <div class="imgFlashes">
                <img src="../images/flash tattoo.jpg" alt="">
                <img src="../images/mas flashes.jpg" alt="">
                <img src="../images/flashes.jpg" alt="foto estilo de tattoo tradIcional">
            </div>
        </section>

    </main>
    <footer>
        <div class="titulofooter">
            <h2>Redes sociales</h2>
        </div>
        <div class="contenedorFooter">

            <a href="https://www.facebook.com/profile.php?id=1817661939" target="_blank">
                <img src="../images/facebook.png" alt="Facebook">
            </a>
            <a href="https://www.instagram.com/tattooing_posadas/" target="_blank">
                <img src="../images/instagram.png" alt="Instagram">
            </a>
            <a href="https://www.youtube.com/" target="_blank">
                <img src="../images/youtube.png" alt="Youtube">
            </a>
            <a href="https://twitter.com/intent/tweet?text=https://fb.watch/dH4A7PjVuo/" target="_blank">
                <img src="../images/gorjeo.png" alt="Twitter">
            </a>

        </div>
        <div class="copyfooter">
            <p>© 2022 Acosta Mauro, todos los derechos reservados.</p>
        </div>
    </footer>
</body>

</html>