<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../estilos/style.css">
    <title>trabajos</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <div class="contenedorLogo">
                    <a class="navbar-brand d-flex align-items-center" href="../index.html">
                        <img src="../images/logo.png" alt="">
                    </a>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto d-flex justify-content-between me-4">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="../index.html">INICIO</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link activo" href="./trabajos.html">TRABAJOS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./disenos.html">DISEÑOS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./Artista.html">ARTISTA</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./contactos.html">CONTACTO</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <section class="contenedorFotosTrabajos">
            <div class="container text-center">
                <div class="row mt-5">
                    <div class="col">
                        <h2 class="display-5 fw-bold">GALERIA DE TRABAJOS</h2>
                        <p>& comentarios de la gente</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col margin d-flex justify-content-center">
                        <div class="card" style="width: 24rem;">
                            <div class="card-body">
                                <img src="../images/tattoo1.png" style="width: 22rem; height: 22rem; object-fit: fill;"
                                    alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col margin d-flex justify-content-center">
                        <div class="card" style="width: 24rem;">
                            <div class="card-body">
                                <img src="../images/tattoo2.png" style="width: 22rem; height: 22rem; object-fit: fill;"
                                    alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col margin d-flex justify-content-center">

                        <div class="card" style="width: 24rem;">
                            <div class="card-body">
                                <img src="../images/tattoo3.png" style="width: 22rem; height: 22rem; object-fit: fill;"
                                    alt="">
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">

                    <div class="col margin d-flex justify-content-center">
                        <div class="card" style="width: 24rem;">
                            <div class="card-body">
                                <img src="../images/tattoo4.png" style="width: 22rem; height: 22rem; object-fit: fill;"
                                    alt="">
                            </div>
                        </div>

                    </div>
                    <div class="col margin d-flex justify-content-center">
                        <div class="card" style="width: 24rem;">
                            <div class="card-body">
                                <img src="../images/tattoo5.png" style="width: 22rem; height: 22rem; object-fit: fill;"
                                    alt="">
                            </div>
                        </div>

                    </div>
                    <div class="col margin d-flex justify-content-center">

                        <div class="card" style="width: 24rem;">
                            <div class="card-body">
                                <img src="../images/tattoo6.png" style="width: 22rem; height: 22rem; object-fit: fill;;"
                                    alt="">
                            </div>
                        </div>


                    </div>
                </div>
                <div class="row">
                    <div class="col margin d-flex justify-content-center">

                        <div class="card" style="width: 24rem;">
                            <div class="card-body">
                                <img src="../images/tattoo7.png" style="width: 22rem; height: 22rem; object-fit: fill;"
                                    alt="">
                            </div>
                        </div>


                    </div>
                    <div class="col margin d-flex justify-content-center">

                        <div class="card" style="width: 24rem;">
                            <div class="card-body">
                                <img src="../images/tattoo8.png" style="width: 22rem; height: 22rem; object-fit: fill;"
                                    alt="">
                            </div>
                        </div>


                    </div>
                    <div class=" col margin d-flex justify-content-center">

                        <div class="card" style="width: 24rem;">
                            <div class="card-body">
                                <img src="../images/tattoo9.png" style="width: 22rem; height: 22rem; object-fit: fill;"
                                    alt="">
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </section>
        <section class="containerCarousel">
            <div class="container container text-center">
                <div class="row margin mb-5" style="background-color: rgba(0, 0, 0, 0.11); height: 5.3rem;">
                    <div class="col">
                        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
                            <div class="carousel-indicators h-25 m-auto">
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                                    class="active" aria-current="true" aria-label="Slide 1"></button>

                                <button class="bg-black" type="button" data-bs-target="#carouselExampleIndicators"
                                    data-bs-slide-to="1" aria-label="Slide 2"></button>

                                <button class="bg-black" type="button" data-bs-target="#carouselExampleIndicators"
                                    data-bs-slide-to="2" aria-label="Slide 3"></button>

                                <button class="bg-black" type="button" data-bs-target="#carouselExampleIndicators"
                                    data-bs-slide-to="3" aria-label="Slide 4"></button>

                                <button class="bg-black" class="bg-black" type="button"
                                    data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"
                                    aria-label="Slide 5"></button>

                                <button class="bg-black" type="button" data-bs-target="#carouselExampleIndicators"
                                    data-bs-slide-to="5" aria-label="Slide 6"></button>

                                <button class="bg-black" type="button" data-bs-target="#carouselExampleIndicators"
                                    data-bs-slide-to="6" aria-label="Slide 7"></button>

                                <button class="bg-black" type="button" data-bs-target="#carouselExampleIndicators"
                                    data-bs-slide-to="7" aria-label="Slide 8"></button>

                            </div>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="../images/carousel/1.png" class="img-fluid" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="../images/carousel/2.png" class="img-fluid" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="../images/carousel/3.png" class="img-fluid" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="../images/carousel/4.png" class="img-fluid" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="../images/carousel/5.png" class="img-fluid" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="../images/carousel/6.png" class="img-fluid" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="../images/carousel/7.png" class="img-fluid" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="../images/carousel/8.png" class="img-fluid" alt="...">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>

    <footer>

        <div class="container-fluid">

            <div class="row">
                <div class="col-sm">
                    <h4 class="m-0">TATTOOING POSADAS</h4>
                    <div class="h-75">
                        <p class="p-2" style="line-height: 2.1;">Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Accusantium magni quasi
                            perspiciatis, ad
                            autem!</p>
                    </div>

                </div>

                <div class="col-sm ">
                    <h4 class="m-0">DATOS DE CONTACTO</h4>
                    <div class="contenedorContacto">
                        <i class="bi bi-telephone-fill"> Teléfono: 952 476 811 - 646 835 944</i>
                        <i class="bi bi-geo-alt-fill"> Calle 71 n°: 6538, Posadas Misiones </i>
                        <i class="bi bi-envelope-fill"> Tattooing@gmail.com</i>
                    </div>
                </div>

                <div class="col-sm ">
                    <h4>APARTADOS WEB</h4>
                    <ul class="p-0 contenedorApartadoWeb">
                        <li>
                            <a class="activo" href="./index.html">INICIO</a>
                        </li>
                        <li>
                            <a href="./views/trabajos.html">TRABAJOS</a>
                        </li>
                        <li>
                            <a href="./views/disenos.html">DISEÑOS</a>
                        </li>
                        <li>
                            <a href="./views/Artista.html">ARTISTA</a>
                        </li>
                        <li>
                            <a href="./views/contactos.html">CONTACTO</a>
                        </li>
                    </ul>

                </div>

                <div class="col-sm">

                    <div class="redesFooter">
                        <h4>SEGUINOS EN</h4>
                        <a href="https://www.facebook.com/profile.php?id=1817661939" target="_blank"><i
                                class="bi bi-facebook"></i></a>
                        <a href="https://www.instagram.com/tattooing_posadas/" target="_blank">
                            <i class="bi bi-instagram"></i>
                        </a>
                    </div>

                </div>

                <a href="https://wa.me/+5493764814979?text=Hola,%20Necesito%20más%20el%20información..!"
                    class="whatsapp" target="_blank"> <i class="fa fa-whatsapp whatsapp-icon"></i>
                </a>
            </div>

    </footer>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous">
    </script>
</body>

</html>