<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../estilos/style.css">
    <title>trabajos</title>
    <meta name="description"
        content="Fundado en 2019. Gran calidad artística y técnica de sus tatuajes. Amplia experiencia en todo tipo de estilos. Visítanos para contarnos que te gustaría hacerte.">

    <meta name="keywords" content="TATTOOING, LETTERING, OLDSCHOOL, TRADICIONAL">
</head>

<body>
    <nav class="navbar navbar-dark fixed-top">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"
                aria-controls="offcanvasExample">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a href="../index.html"><img src="../images/logo.png" alt=""></a>
        </div>

    </nav>
    <header>
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample"
            aria-labelledby="offcanvasExampleLabel">
            <div class="offcanvas-header shadow">
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
                    <a href="../index.html"><img src="../images/logo.png" alt=""></a>
            </div>
            <div class="offcanvas-body">
                <ul>
                    <li><a href="../index.html">INICIO</a></li>
                    <li><a class="active" href="./trabajos.html">TRABAJOS</a></li>
                    <li><a href="./disenos.html">DISEÑOS</a></li>
                    <li><a href="./Artista.html">ARTISTA</a></li>
                    <li><a href="./contactos.html">CONTACTO</a></li>
                </ul>

            </div>
        </div>
    </header>

    <main>
        <div class="titulo">
            <h1>GALERIA DE TRABAJOS</h1>
            <p>& comentarios de la gente</p>
        </div>
        <section class="contenedorFotosTrabajos">

            <div class="col">

                <img src="../images/tattoo1.png" alt="">

            </div>
            <div class="col">

                <img src="../images/tattoo2.png" alt="">

            </div>
            <div class="col">
                <img src="../images/tattoo3.png" alt="">
            </div>

            <div class="col">

                <img src="../images/tattoo4.png" alt="">
            </div>
            <div class="col">

                <img src="../images/tattoo5.png" alt="">

            </div>
            <div class="col">
                <img src="../images/tattoo6.png" alt="">
            </div>


            <div class="col">
                <img src="../images/tattoo7.png" alt="">
            </div>
            <div class="col">
                <img src="../images/tattoo8.png" alt="">
            </div>
            <div class="col">
                <img src="../images/tattoo9.png" alt="">

            </div>

        </section>
        <section class="container-Carousel">

            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">


                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"
                        aria-label="Slide 4"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4"
                        aria-label="Slide 5"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="titulo-Carousel">
                            <h3>COMENTARIOS</h3>
                        </div>
                        <div class="carousel-caption d-md-block">
                            <p>Impecable tu trabajo gastón, que bello..</p>
                            <h5>Johanna Villalba</h5>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="titulo-Carousel">
                            <h3>COMENTARIOS</h3>
                        </div>
                        <div class="carousel-caption d-md-block">
                            <p>Muy bien logrado ese lobo brod, Ta mortal.</p>
                            <h5>Lucas Damián Benitez</h5>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="titulo-Carousel">
                            <h3>COMENTARIOS</h3>
                        </div>
                        <div class="carousel-caption d-md-block">
                            <p>Muy buena loco.</p>
                            <h5>Nicolas Piccoto</h5>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <div class="titulo-Carousel">
                            <h3>COMENTARIOS</h3>
                        </div>
                        <div class="carousel-caption d-md-block">
                            <p>Que grande gastón, el mejor lejos!!.</p>
                            <h5>Gerardo Gabriel</h5>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <div class="titulo-Carousel">
                            <h3>COMENTARIOS</h3>
                        </div>
                        <div class="carousel-caption d-md-block">
                            <p>Tremendooooo!!.</p>
                            <h5>Erik Pascual Galván</h5>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
        </section>

    </main>

    <footer>
        <div class="col">
            <h4>TATTOOING POSADAS</h4>
            <div class="descripcion-footer">
                <p>Descubrí la inspiración en los trabajos realizados y animate a visitar el estudio para elegir que te gustaría tatuarte.</p>
            </div>

        </div>

        <div class="col">
            <h4>DATOS DE CONTACTO</h4>
            <div class="info-contacto">
                <p class="bi bi-telephone-fill"> Teléfono: +549 3764-814979 </p>
                <p class="bi bi-geo-alt-fill"> Calle 71 n°: 6538, Posadas Misiones </p>
                <p class="bi bi-envelope-fill"> Tattooing@gmail.com</p>
            </div>
        </div>

        <div class="col">
            <h4>APARTADOS WEB</h4>
            <ul>
                <li>
                    <a href="../index.html">INICIO</a>
                </li>
                <li>
                    <a class="activo" href="./trabajos.html">TRABAJOS</a>
                </li>
                <li>
                    <a href="./disenos.html">DISEÑOS</a>
                </li>
                <li>
                    <a href="./Artista.html">ARTISTA</a>
                </li>
                <li>
                    <a href="./contactos.html">CONTACTO</a>
                </li>
            </ul>

        </div>


        <div class="col">
            <h4>SEGUINOS EN</h4>
            <div class="redes-sociales">
                <a href="https://www.facebook.com/profile.php?id=1817661939" target="_blank"><i
                        class="bi bi-facebook"></i></a>
                <a href="https://www.instagram.com/tattooing_posadas/" target="_blank">
                    <i class="bi bi-instagram"></i>
                </a>
            </div>

        </div>

        <div class="col">
            <p class="diseñado"> DISEÑO: ACOSTA MAURO</p>
        </div>


        <a href="https://wa.me/+5493764814979?text=Hola,%20Necesito%20más%20el%20información..!" class="whatsapp"
            target="_blank"> <i class="fa fa-whatsapp whatsapp-icon"></i>
        </a>
        </div>

    </footer>

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous">
    </script>
</body>

</html>