<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../estilos/estilo.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
    <title>trabajos</title>
</head>

<body>
    <header>
        <h1>TATTOOING POSADAS</h1>
        <nav class="navBar">

            <ul>
                <li>
                    <a href="../index.html">INICIO</a>
                </li>
                <li>
                    <a href="./trabajos.html">TRABAJOS</a>
                </li>
                <li>
                    <a href="./diseños.html">DISEÑOS</a>
                </li>
                <li>
                    <a href="./Artista.html">SOBRE EL ARTISTA</a>
                </li>
                <li>
                    <a href="./contactos.html">CONTACTOS</a>
                </li>
            </ul>
        </nav>
    </header>

    <main class="contenedor__main">
        <h2>GALERIA DE TRABAJOS</h2>

        <div class="contenedor__tattoo__galeria">
            <img class="tattoos" src="../images/tattoo1.png" alt="">
            <img class="tattoos" src="../images/tattoo2.png" alt="">
            <img class="tattoos" src="../images/tattoo3.png" alt="">
            <img class="tattoos" src="../images/tattoo4.png" alt="">
            <img class="tattoos" src="../images/tattoo5.png" alt="">
            <img class="tattoos" src="../images/tattoo6.png" alt="">
            <img class="tattoos" src="../images/tattoo7.png" alt="">
            <img class="tattoos" src="../images/tattoo8.png" alt="">
            <img class="tattoos" src="../images/tattoo9.png" alt="">
        </div>
    </main>

    <footer>
        <div>
            <h2 class="titulofooter">Redes sociales</h2>
        </div>
        <div class="contenedorFooter">
            
            <a href="https://www.facebook.com/profile.php?id=1817661939" target="_blank">
                <img src="../images/facebook.png" alt="Facebook">
            </a>
            <a href="https://www.instagram.com/tattooing_posadas/" target="_blank">
                <img src="../images/instagram.png" alt="Instagram">
            </a>
            <a href="https://www.youtube.com/" target="_blank">
                <img src="../images/youtube.png" alt="Youtube">
            </a>
            <a href="https://twitter.com/intent/tweet?text=https://fb.watch/dH4A7PjVuo/" target="_blank">
                <img src="../images/gorjeo.png" alt="Twitter">
            </a>
           
        </div>
        <div class="copyfooter">
            <p>© 2022 Acosta Mauro, todos los derechos reservados.</p>
        </div>
    </footer>
</body>

</html>