@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Cinzel', serif;
    background-image: url(../images/fondoTatuajes.png);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    margin-top: auto;
    z-index: 20;
}

header {
    position: sticky;
    top: 0;
    z-index: 10;
}

.colorNav {
    background-color: #8f8e91;
}

.sizeFooter {
    font-size: small;
    font-weight: bold;
}

.contenedorLogo {
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

.contenedorLogo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation-name: animacionLogo;
    animation-duration: 2s;
}

.contenedorLogo a {
    width: 80px;
    height: 80px;
}

h1 {
    font-size: 1.8rem;
    margin-top: 0.5rem;
    text-align: center;
    width: 12rem;
    background: -webkit-linear-gradient(#eee, rgb(31, 31, 31));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


@keyframes animacionLogo {
    from {
        transform: translateX(10vh);
        opacity: 0.1;
    }

    to {
        transform: translateX(0);
    }
}

.imgIndex {
    width: 24rem;
    height: 28rem;
    object-fit: fill;
}


.contenedorFooter img {
    transition-duration: .9s;
}

.contenedorFooter img:hover {
    transform: scale(1.2);
}

.estiloFormContactos {
    border: 6px solid rgba(0, 0, 0, 0.11);
    background-color: rgba(255, 255, 255, 0.33);
}

.estiloFondo {
    background-color: rgba(255, 255, 255, 0.35);
}

.whatsapp {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 20px;
    right: 15px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    z-index: 100;
}

.whatsapp-icon {
    margin-top: 13px;
}

@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');

@media (max-width:425px) {
    .ulNav {
        text-align: center;
    }

    .contenedorLogo h1{
        display: none;
    }

    .contenedorLogo img{
        width: 60px;
        height: 40px;
        object-fit: fill;
    }

    .contenedorDirContacto {
        height: 30rem;
        margin-bottom: 4rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
    }

    .contenedorTituloFormContacto {
        height: 9rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        margin-bottom: 1rem;
    }

    .sizeFooter {
        font-size: x-small;
    }

    .marginTopDiseños {
        margin-top: 3rem;
    }

    .margin {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .imgIndex {
        width: 22rem;
        height: 28rem;
        object-fit: fill;
    }

    .cardIndex{
        width: 24rem;
    }

    .colorNav {
        background-color: #8f8e91;
    }
}

@media(min-width:426px) {
    .ulNav {
        text-align: center;
    }

    .marginTopDiseños {
        margin-top: 3rem;
    }

    .margin {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .cardIndex{
        width: 26rem;
    }
}


.nav-item {
    padding: 0.2rem;
}


.contenedorDiseños img {
    width: 23rem;
    height: 24rem;
    object-fit: fill;
}

.card img {
    transition-duration: .9s;
}

.card img:hover {
    transform: scale(1);
    outline: 2px solid rgba(255, 255, 255, 0.33);
    outline-offset: -10px;
}

.card {
    transition-duration: .9s;
}

.card:hover {
    transform: scale(1.1);
    border-radius: 5%;
}

.slide {
    margin-top: 10px;
}

.slide img{
    height:4rem;
    object-fit: fill;
}

