@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap");
header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 30;
  background-color: rgba(112, 112, 112, 0.9);
}
header .contenedorLogo {
  display: flex;
  align-items: center;
}
header .contenedorLogo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-animation-name: animacionLogo;
          animation-name: animacionLogo;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}
@media (max-width: 425px) {
  header .contenedorLogo img {
    width: 60px;
    height: 40px;
    -o-object-fit: fill;
       object-fit: fill;
  }
}
header .contenedorLogo a {
  width: 80px;
  height: 80px;
}
header .collapse ul li {
  display: inline-flex;
  justify-content: center;
}
header .collapse ul li a {
  position: relative;
}
header .collapse ul li a:hover, header .collapse ul li a.activo {
  color: #eee !important;
}
header .collapse ul li a:hover::before, header .collapse ul li a.activo::before {
  width: 85%;
  opacity: 1;
}
@media (max-width: 425px) {
  header .collapse ul li a:hover::before, header .collapse ul li a.activo::before {
    width: 100%;
  }
}
header .collapse ul li a::before {
  content: "";
  border-bottom: 2px solid rgb(155, 155, 155);
  position: absolute;
  bottom: 0;
  width: 0;
  transition: 0.8s;
  opacity: 0;
}

@-webkit-keyframes animacionLogo {
  from {
    transform: translateX(10vh);
    opacity: 0.1;
  }
  to {
    transform: translateX(0);
  }
}

@keyframes animacionLogo {
  from {
    transform: translateX(10vh);
    opacity: 0.1;
  }
  to {
    transform: translateX(0);
  }
}
.contenedorMainIndex .sectionImgArtistaLocal .container .row {
  display: flex;
  justify-content: center;
}
@media (max-width: 425px) {
  .contenedorMainIndex .sectionImgArtistaLocal .container .row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.contenedorMainIndex .sectionImgArtistaLocal .container .row .contenedorLocal {
  padding: 0;
  width: 47.1%;
}
@media (max-width: 425px) {
  .contenedorMainIndex .sectionImgArtistaLocal .container .row .contenedorLocal {
    width: 80%;
    height: 80%;
    margin: 2rem;
  }
}
.contenedorMainIndex .sectionImgArtistaLocal .container .row .contenedorArtista {
  padding: 0;
  width: 23.2%;
}
@media (min-width: 1024px) {
  .contenedorMainIndex .sectionImgArtistaLocal .container .row .contenedorArtista {
    background-color: rgba(0, 0, 0, 0.171);
  }
}
@media (max-width: 425px) {
  .contenedorMainIndex .sectionImgArtistaLocal .container .row .contenedorArtista {
    width: 80%;
    height: 80%;
    margin-bottom: 1rem;
  }
}
@media (max-width: 425px) {
  .contenedorMainIndex .sectionImgArtistaLocal .container .row .contenedorArtista .col {
    margin-bottom: 2rem;
  }
}
.contenedorMainIndex .sectionImgArtistaLocal .container .row .contenedorArtista .linkTrabajos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.35);
}
.contenedorMainIndex .sectionImgArtistaLocal .container .row .contenedorArtista .linkTrabajos h4 {
  text-shadow: rgba(60, 60, 60, 0.3) 0.1em 0.1em 0.1em;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .contenedorMainIndex .sectionImgArtistaLocal .container .row .contenedorArtista .linkTrabajos h6 {
    font-size: 10px;
  }
}
.contenedorMainIndex .sectionImgArtistaLocal .container .row figure {
  overflow: hidden;
  margin: 0;
  position: relative;
}
.contenedorMainIndex .sectionImgArtistaLocal .container .row figure:hover > .tituloLocal {
  opacity: 1;
  visibility: visible;
}
.contenedorMainIndex .sectionImgArtistaLocal .container .row figure:hover > .tituloArtista {
  opacity: 1;
  visibility: visible;
}
.contenedorMainIndex .sectionImgArtistaLocal .container .row figure img {
  width: 100%;
  height: 100%;
  transition: all 500ms ease-out;
}
.contenedorMainIndex .sectionImgArtistaLocal .container .row figure img:hover {
  transform: scale(1.1);
}
.contenedorMainIndex .sectionImgArtistaLocal .container .row figure .tituloArtista {
  transition: all 500ms ease-out;
  opacity: 0;
  visibility: hidden;
}
.contenedorMainIndex .sectionImgArtistaLocal .container .row figure .tituloArtista h2,
.contenedorMainIndex .sectionImgArtistaLocal .container .row figure .tituloArtista h5 {
  position: absolute;
  left: 1rem;
  text-shadow: rgba(2, 2, 2, 0.342) 0.1em 0.1em 0.2em;
}
.contenedorMainIndex .sectionImgArtistaLocal .container .row figure .tituloArtista h2 {
  top: 30px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .contenedorMainIndex .sectionImgArtistaLocal .container .row figure .tituloArtista h2 {
    font-size: 17px;
    top: 20%;
  }
}
.contenedorMainIndex .sectionImgArtistaLocal .container .row figure .tituloArtista h5 {
  top: 70px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .contenedorMainIndex .sectionImgArtistaLocal .container .row figure .tituloArtista h5 {
    font-size: 12px;
    top: 30%;
  }
}
.contenedorMainIndex .sectionImgArtistaLocal .container .row figure .tituloLocal {
  left: 30px;
  transition: all 500ms ease-out;
  opacity: 0;
  visibility: hidden;
}
.contenedorMainIndex .sectionImgArtistaLocal .container .row figure .tituloLocal h2,
.contenedorMainIndex .sectionImgArtistaLocal .container .row figure .tituloLocal h5 {
  position: absolute;
  left: 40px;
}
.contenedorMainIndex .sectionImgArtistaLocal .container .row figure .tituloLocal h2 {
  top: 30px;
  text-shadow: rgba(60, 60, 60, 0.3) 0.1em 0.1em 0.1em;
}
.contenedorMainIndex .sectionImgArtistaLocal .container .row figure .tituloLocal h5 {
  top: 70px;
  text-shadow: rgba(10, 10, 10, 0.342) 0.1em 0.1em 0.2em;
}
.contenedorMainIndex .contenedorConoceArtista {
  margin-top: 6rem;
}
.contenedorMainIndex .contenedorConoceArtista .row .col {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.contenedorMainIndex .contenedorConoceArtista .row .col img {
  width: 90px;
}
.contenedorMainIndex .contenedorConoceArtista .row .col h1 {
  text-shadow: rgba(60, 60, 60, 0.3) 0.1em 0.1em 0.1em;
}
@media (max-width: 425px) {
  .contenedorMainIndex .contenedorConoceArtista .row .col h1 {
    font-size: 2.2rem;
  }
}
.contenedorMainIndex .contenedorConoceArtista .contenedorParrafoIndex {
  line-height: 2.5;
}
.contenedorMainIndex .contenedorConoceArtista .contenedorParrafoIndex p {
  background-color: rgba(255, 255, 255, 0.35);
  font-size: 1.1rem;
}
.contenedorMainIndex .contenedorConoceArtista .contenedorParrafoIndex p strong {
  font-size: 1.2rem;
  text-shadow: rgba(60, 60, 60, 0.3) 0.1em 0.1em 0.1em;
}
@media (max-width: 425px) {
  .contenedorMainIndex .contenedorConoceArtista .contenedorParrafoIndex p {
    font-size: 15px;
    width: 80%;
  }
}
@media (max-width: 425px) {
  .contenedorMainIndex .contenedorConoceArtista .contenedorParrafoIndex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.seccionLugarEstudio {
  background-image: url(../images/fondoestudio.jpeg);
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
}
.seccionLugarEstudio .seccionLugarEstudioTitulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(90, 90, 90, 0.5);
  transition: all 1000ms ease-out;
  opacity: 0;
  text-align: center;
}
.seccionLugarEstudio .seccionLugarEstudioTitulo h2 {
  text-shadow: rgba(20, 20, 20, 0.9) 0.1em 0.1em 0.2em;
  font-size: 4rem;
}
@media (max-width: 425px) {
  .seccionLugarEstudio .seccionLugarEstudioTitulo h2 {
    font-size: 2rem;
  }
}
.seccionLugarEstudio .seccionLugarEstudioTitulo h3 {
  font-size: 50px;
  text-shadow: rgba(60, 60, 60, 0.9) 0.1em 0.1em 0.1em;
}
@media (max-width: 425px) {
  .seccionLugarEstudio .seccionLugarEstudioTitulo h3 {
    font-size: 30px;
  }
}
.seccionLugarEstudio .seccionLugarEstudioTitulo:hover {
  opacity: 1;
  visibility: visible;
}

.estiloTitulos, .contenedorMainIndex .sectionImgArtistaLocal .container .row figure .tituloArtista h2,
.contenedorMainIndex .sectionImgArtistaLocal .container .row figure .tituloArtista h5, .contenedorMainIndex .sectionImgArtistaLocal .container .row figure .tituloLocal h5, .seccionLugarEstudio .seccionLugarEstudioTitulo h2 {
  background: -webkit-linear-gradient(#eee, rgb(255, 247, 247));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container-contacto h2,
.container-contacto p {
  background-color: rgba(255, 255, 255, 0.35);
}
.container-contacto .contenedorDirContacto {
  background-color: aqua;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.35);
}
@media (max-width: 425px) {
  .container-contacto .contenedorDirContacto {
    height: 30rem;
    margin-bottom: 4rem;
    text-align: center;
  }
}
.container-contacto .estiloFormContactos {
  border: 6px solid rgba(0, 0, 0, 0.11);
  background-color: rgba(255, 255, 255, 0.35);
}
.container-contacto .estiloFormContactos .cuerpoForm div {
  margin-bottom: 2rem;
}
.container-contacto .estiloFormContactos .contenedorTituloFormContacto {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
@media (max-width: 425px) {
  .container-contacto .estiloFormContactos .contenedorTituloFormContacto {
    height: 9rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 1rem;
  }
}
.container-contacto .ubicacion {
  margin-bottom: 2rem;
}
.container-contacto .ubicacion iframe {
  border: 6px solid rgba(0, 0, 0, 0.11);
}

.contenedorDiseños .row .col {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 425px) {
  .contenedorDiseños .row .col {
    margin-top: 3rem;
  }
}
@media (min-width: 426px) {
  .contenedorDiseños .row .col {
    margin-top: 3rem;
  }
}
.contenedorDiseños .row .col .card {
  width: 23rem;
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .contenedorDiseños .row .col .card {
    width: 18rem;
  }
}
.contenedorDiseños .row .col .card img {
  width: 23rem;
  height: 24rem;
  -o-object-fit: fill;
     object-fit: fill;
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .contenedorDiseños .row .col .card img {
    width: 18rem;
    height: 16rem;
  }
}

.contenedorPaginacion {
  margin-top: 3rem;
  margin-bottom: 2rem;
}
.contenedorPaginacion ul {
  background-color: rgba(0, 0, 0, 0.15);
}

.contenedorFotosTrabajos .col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.contenedorFotosTrabajos .col .card {
  width: 24rem;
  height: 24rem;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .contenedorFotosTrabajos .col .card {
    width: 40rem;
    height: 40rem;
  }
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .contenedorFotosTrabajos .col .card {
    width: 18rem;
    height: 18rem;
  }
}
.contenedorFotosTrabajos .col .card .card-body img {
  width: 22rem;
  height: 22rem;
  -o-object-fit: fill;
     object-fit: fill;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .contenedorFotosTrabajos .col .card .card-body img {
    width: 38rem;
    height: 38rem;
  }
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .contenedorFotosTrabajos .col .card .card-body img {
    width: 16rem;
    height: 16rem;
  }
}

.containerCarousel .row {
  background-color: rgba(0, 0, 0, 0.11);
  height: 5.3rem;
}
.containerCarousel .row .slide {
  margin-top: 10px;
}
.containerCarousel .row .slide img {
  height: 4rem;
  -o-object-fit: fill;
     object-fit: fill;
}

.contenedorEstilosEstudiados .row {
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.contenedorEstilosEstudiados .row .col {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
@media (max-width: 425px) {
  .contenedorEstilosEstudiados .row .col {
    margin-top: 2rem;
    margin-bottom: 3rem;
  }
}
@media (min-width: 426px) {
  .contenedorEstilosEstudiados .row .col {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}
.contenedorEstilosEstudiados .row .col .card {
  width: 20rem;
}
.contenedorEstilosEstudiados .row .col .card img {
  width: 20rem;
  height: 20rem;
  -o-object-fit: fill;
     object-fit: fill;
}

footer {
  margin-top: auto;
  z-index: 20;
  background-color: rgba(112, 112, 112, 0.9);
}
footer img {
  transition-duration: 0.9s;
}
footer img:hover {
  transform: scale(1.2);
}
footer .container-fluid {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
footer .container-fluid p {
  margin: 0;
  line-height: 2.1;
  padding: 8px;
}
footer .container-fluid h4 {
  background: -webkit-linear-gradient(#eee, rgb(255, 247, 247));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: rgba(20, 20, 20, 0.3) 0.1em 0.1em 0.2em;
}
@media (min-width: 426px) {
  footer .container-fluid {
    text-align: center;
  }
}
footer ul {
  list-style-type: none;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
footer ul li a {
  position: relative;
  text-decoration: none;
  color: rgb(31, 31, 31);
}
footer ul li a:hover {
  color: #eee;
}
footer ul li a:hover::before, footer ul li a.activo::before {
  width: 100%;
  opacity: 1;
}
footer ul li a::before {
  content: "";
  border-bottom: 2px solid rgb(155, 155, 155);
  position: absolute;
  bottom: 0;
  width: 0;
  transition: 0.8s;
  opacity: 0;
}
footer .redesFooter i {
  font-size: 2rem;
  color: black;
}
footer .redesFooter i:hover {
  color: rgb(66, 66, 66);
  transition-duration: 0.6s;
}
footer .contenedorContacto {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
footer .contenedorContacto i {
  margin-bottom: 10px;
}
@media (max-width: 425px) {
  footer .contenedorContacto {
    margin: 1rem auto 1rem;
  }
}
@media (max-width: 425px) {
  footer .contenedorApartadoWeb {
    margin-bottom: 3rem;
  }
}

.whatsapp {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 20px;
  right: 15px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  z-index: 100;
}

.whatsapp-icon {
  margin-top: 13px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: vtks;
  src: url("../font-title/vtks-tatuage2.regular.ttf");
}
body {
  font-family: "Cinzel", serif;
  background-image: url(../images/fondoTatuajes.png);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
body h1 {
  font-family: vtks;
  font-size: 3rem;
  font-weight: 900;
  text-shadow: rgba(2, 2, 2, 0.342) 0.1em 0.1em 0.2em;
}

.card {
  transition-duration: 0.9s;
}
.card:hover {
  transform: scale(1.1);
  border-radius: 5%;
}
.card img {
  transition-duration: 0.9s;
}
.card img:hover {
  transform: scale(1);
  outline: 2px solid rgba(255, 255, 255, 0.33);
  outline-offset: -10px;
}/*# sourceMappingURL=style.css.map */